In [1]:
import mape
from mape import predictor, sub_features, xgboost, random_forest, svm_regressor
import pandas as pd

In [2]:
df = pd.read_csv('Iphone_7_Features.csv')

In [3]:
df.shape

(201, 19)

In [4]:
df.head()

,Review_Title,Review_Text,Review_Rating,Num_Photos,Sentiment,h,Len_before,Num_Sentence,No_QMark,No_ExMark,No_Upper,No_proper,Emoji_Count,Len_after,POS,Perc_Noun,Perc_Verb,Perc_Adverb,Perc_Adj
0,Classy product,good luv \r\n iPhone camera lover,5,2,pos,0.88,10,3,0,0,0,0,2,5,ADJ PROPN SPACE PROPN NOUN NOUN,33.33,0.00,0.0,16.67
1,Excellent,click photo wall painting,5,1,neu,0.87,7,1,0,0,0,0,0,4,VERB PROPN NOUN NOUN,50.00,25.00,0.0,0.00
2,Must buy!,5 year young brother iphone 4s buy iphone 7 bi...,5,0,pos,0.86,90,9,0,0,0,0,1,50,NUM NOUN ADJ NOUN PROPN NUM VERB PROPN NUM NOU...,28.85,19.23,0.0,13.46
3,Pretty good,expect,4,1,neu,0.86,5,1,0,0,0,0,1,1,VERB,0.00,100.00,0.0,0.00
4,Mind-blowing purchase,iPhone \r\n love,5,4,pos,0.88,8,2,0,0,0,0,8,2,PROPN SPACE NOUN,33.33,0.00,0.0,0.00

In [5]:
def rf_mape(df,l):
    df1 = sub_features(df,l)
    X, y = predictor(df1)
    train_mape, test_mape = random_forest(X,y)
    d = pd.DataFrame(data=[train_mape,test_mape],columns=['MAPE'],index=['Train','Test']).T
    return d

In [6]:
def xgb_mape(df,l):
    df1 = sub_features(df,l)
    X, y = predictor(df1)
    train_mape, test_mape = xgboost(X,y)
    d = pd.DataFrame(data=[train_mape,test_mape],columns=['MAPE'],index=['Train','Test']).T
    return d

In [7]:
def svr_mape(df,l):
    df1 = sub_features(df,l)
    X, y = predictor(df1)
    train_mape, test_mape = svm_regressor(X,y)
    d = pd.DataFrame(data=[train_mape,test_mape],columns=['MAPE'],index=['Train','Test']).T
    return d

### 1. ['Review_Text','Review_Rating','Len_after','h']

In [8]:
rf_mape(df,['Review_Text','Review_Rating','Len_after','h'])

         Train       Test
MAPE  4.765721  14.023497

In [9]:
xgb_mape(df,['Review_Text','Review_Rating','Len_after','h'])

         Train       Test
MAPE  0.595709  16.184623

In [10]:
svr_mape(df,['Review_Text','Review_Rating','Len_after','h'])

          Train       Test
MAPE  11.171966  12.615545

### 2. ['Review_Text','Review_Rating','Num_Sentence','h']

In [11]:
rf_mape(df,['Review_Text','Review_Rating','Num_Sentence','h'])

         Train       Test
MAPE  4.803315  14.437732

In [12]:
xgb_mape(df,['Review_Text','Review_Rating','Num_Sentence','h'])

         Train       Test
MAPE  0.813573  16.270818

In [13]:
svr_mape(df,['Review_Text','Review_Rating','Num_Sentence','h'])

          Train       Test
MAPE  10.526488  12.388524

### 3. ['Review_Text','Review_Rating','Len_before','h']

In [14]:
rf_mape(df,['Review_Text','Review_Rating','Len_before','h'])

         Train       Test
MAPE  4.619628  15.097213

In [15]:
xgb_mape(df,['Review_Text','Review_Rating','Len_before','h'])

         Train      Test
MAPE  0.423326  16.84621

In [16]:
svr_mape(df,['Review_Text','Review_Rating','Len_before','h'])

          Train       Test
MAPE  11.233285  12.454735

### 4. ['Review_Text','Review_Rating','Num_Photos','h']

In [17]:
rf_mape(df,['Review_Text','Review_Rating','Num_Photos','h'])

         Train       Test
MAPE  4.849528  14.088806

In [18]:
xgb_mape(df,['Review_Text','Review_Rating','Num_Photos','h'])

         Train       Test
MAPE  0.647277  16.243415

In [19]:
svr_mape(df,['Review_Text','Review_Rating','Num_Photos','h'])

         Train       Test
MAPE  9.794814  12.796988

### 5. ['Review_Text','Review_Rating','Num_Photos','Len_before','Len_after','h']

In [20]:
rf_mape(df,['Review_Text','Review_Rating','Num_Photos','Len_before','Len_after','h'])

         Train     Test
MAPE  4.492039  13.1991

In [21]:
xgb_mape(df,['Review_Text','Review_Rating','Num_Photos','Len_before','Len_after','h'])

         Train       Test
MAPE  0.297564  15.858998

In [22]:
svr_mape(df,['Review_Text','Review_Rating','Num_Photos','Len_before','Len_after','h'])

          Train       Test
MAPE  10.883533  12.409522

### 6. ['Review_Text','Perc_Noun','Perc_Verb','h']

In [23]:
rf_mape(df,['Review_Text','Perc_Noun','Perc_Verb','h'])

         Train       Test
MAPE  5.015506  14.908249

In [24]:
xgb_mape(df,['Review_Text','Perc_Noun','Perc_Verb','h'])

        Train       Test
MAPE  0.91276  17.895872

In [25]:
svr_mape(df,['Review_Text','Perc_Noun','Perc_Verb','h'])

          Train       Test
MAPE  11.810483  14.013258

### 7. ['Review_Text','Perc_Noun','Perc_Verb','Perc_Adverb','h']

In [26]:
rf_mape(df,['Review_Text','Perc_Noun','Perc_Verb','Perc_Adverb','h'])

         Train       Test
MAPE  5.038553  14.800838

In [27]:
xgb_mape(df,['Review_Text','Perc_Noun','Perc_Verb','Perc_Adverb','h'])

         Train       Test
MAPE  0.909284  17.346219

In [28]:
svr_mape(df,['Review_Text','Perc_Noun','Perc_Verb','Perc_Adverb','h'])

          Train       Test
MAPE  11.754149  14.177126

### 8. ['Review_Text','Perc_Noun','Perc_Verb','Perc_Adverb','Perc_Adj','h']

In [29]:
rf_mape(df,['Review_Text','Perc_Noun','Perc_Verb','Perc_Adverb','Perc_Adj','h'])

         Train       Test
MAPE  4.970394  14.869274

In [30]:
xgb_mape(df,['Review_Text','Perc_Noun','Perc_Verb','Perc_Adverb','Perc_Adj','h'])

         Train       Test
MAPE  0.799827  16.866206

In [31]:
svr_mape(df,['Review_Text','Perc_Noun','Perc_Verb','Perc_Adverb','Perc_Adj','h'])

          Train       Test
MAPE  11.815032  14.929368

### 9. ['Review_Text','No_QMark','h']

In [32]:
rf_mape(df,['Review_Text','No_QMark','h'])

         Train       Test
MAPE  5.221757  15.407064

In [33]:
xgb_mape(df,['Review_Text','No_QMark','h'])

         Train       Test
MAPE  1.081429  17.677123

In [34]:
svr_mape(df,['Review_Text','No_QMark','h'])

         Train       Test
MAPE  9.239987  14.125893

### 10. ['Review_Text','No_QMark','No_ExMark','h']

In [35]:
rf_mape(df,['Review_Text','No_QMark','No_ExMark','h'])

         Train       Test
MAPE  5.130834  14.989652

In [36]:
xgb_mape(df,['Review_Text','No_QMark','No_ExMark','h'])

         Train       Test
MAPE  0.987787  17.047876

In [37]:
svr_mape(df,['Review_Text','No_QMark','No_ExMark','h'])

         Train       Test
MAPE  9.492838  14.389089

### 11. ['Review_Text','No_QMark','No_ExMark','No_Upper','h']

In [38]:
rf_mape(df,['Review_Text','No_QMark','No_ExMark','No_Upper','h'])

         Train       Test
MAPE  5.133512  14.812167

In [39]:
xgb_mape(df,['Review_Text','No_QMark','No_ExMark','No_Upper','h'])

         Train       Test
MAPE  0.987787  17.047876

In [40]:
svr_mape(df,['Review_Text','No_QMark','No_ExMark','No_Upper','h'])

         Train       Test
MAPE  9.529404  14.389009

### 12. ['Review_Text','No_QMark','No_ExMark','No_Upper','No_proper','h']

In [41]:
rf_mape(df,['Review_Text','No_QMark','No_ExMark','No_Upper','No_proper','h'])

         Train      Test
MAPE  4.960377  14.78393

In [42]:
xgb_mape(df,['Review_Text','No_QMark','No_ExMark','No_Upper','No_proper','h'])

         Train       Test
MAPE  0.564778  16.474546

In [43]:
svr_mape(df,['Review_Text','No_QMark','No_ExMark','No_Upper','No_proper','h'])

         Train       Test
MAPE  9.212528  14.031934

### 13. ['Review_Text','Num_Photos','Num_Sentence','h']

In [44]:
rf_mape(df,['Review_Text','Num_Photos','Num_Sentence','h'])

         Train       Test
MAPE  4.685634  13.623759

In [45]:
xgb_mape(df,['Review_Text','Num_Photos','Num_Sentence','h'])

         Train       Test
MAPE  0.921465  15.496593

In [46]:
svr_mape(df,['Review_Text','Num_Photos','Num_Sentence','h'])

          Train       Test
MAPE  10.235084  13.402571

### 14. ['Review_Text','Num_Photos','Num_Sentence','Perc_Noun','h']

In [47]:
rf_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Noun','h'])

         Train       Test
MAPE  4.657956  13.378221

In [48]:
xgb_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Noun','h'])

         Train      Test
MAPE  0.781425  15.61482

In [49]:
svr_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Noun','h'])

          Train       Test
MAPE  11.302841  13.715255

### 15. ['Review_Text','Num_Photos','Num_Sentence','Perc_Verb','h']

In [50]:
rf_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Verb','h'])

        Train       Test
MAPE  4.88002  13.652567

In [51]:
xgb_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Verb','h'])

         Train       Test
MAPE  0.909888  14.720547

In [52]:
svr_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Verb','h'])

         Train       Test
MAPE  10.88815  12.163665

### 16. ['Review_Text','Num_Photos','Num_Sentence','Perc_Noun','Perc_Verb','h']

In [53]:
rf_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Noun','Perc_Verb','h'])

         Train     Test
MAPE  4.811227  13.5256

In [54]:
xgb_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Noun','Perc_Verb','h'])

         Train       Test
MAPE  0.775945  15.420364

In [55]:
svr_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Noun','Perc_Verb','h'])

          Train       Test
MAPE  11.111858  13.256118

### 17. ['Review_Text','Num_Photos','Num_Sentence','Perc_Adj','h']

In [56]:
rf_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Adj','h'])

         Train       Test
MAPE  4.504026  13.276189

In [57]:
xgb_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Adj','h'])

         Train      Test
MAPE  0.533805  15.94899

In [58]:
svr_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Adj','h'])

          Train       Test
MAPE  11.945397  13.974582

### 18. ['Review_Text','Num_Photos','Num_Sentence','Perc_Adj','Perc_Noun','h']

In [59]:
rf_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Adj','Perc_Noun','h'])

         Train       Test
MAPE  4.541493  12.959594

In [60]:
xgb_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Adj','Perc_Noun','h'])

         Train       Test
MAPE  0.534437  15.521788

In [61]:
svr_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Adj','Perc_Noun','h'])

          Train       Test
MAPE  11.644317  14.951838

### 19. ['Review_Text','Num_Photos','Num_Sentence','Perc_Adj','Perc_Noun','Perc_Verb','h']

In [62]:
rf_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Adj','Perc_Noun','Perc_Verb','h'])

         Train       Test
MAPE  4.673859  13.216853

In [63]:
xgb_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Adj','Perc_Noun','Perc_Verb','h'])

         Train       Test
MAPE  0.534348  14.392877

In [64]:
svr_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Adj','Perc_Noun','Perc_Verb','h'])

          Train       Test
MAPE  11.588862  15.016048

### 20. ['Review_Text','Review_Rating','Num_Photos','Num_Sentence','Perc_Adj','Perc_Noun','h']

In [65]:
rf_mape(df,['Review_Text','Review_Rating','Num_Photos','Num_Sentence','Perc_Adj','Perc_Noun','h'])

         Train      Test
MAPE  4.582692  12.85274

In [66]:
xgb_mape(df,['Review_Text','Review_Rating','Num_Photos','Num_Sentence','Perc_Adj','Perc_Noun','h'])

         Train       Test
MAPE  0.475676  15.387006

In [67]:
svr_mape(df,['Review_Text','Review_Rating','Num_Photos','Num_Sentence','Perc_Adj','Perc_Noun','h'])

          Train      Test
MAPE  11.645622  15.01225