In [1]:
import mape
from mape import predictor, sub_features, xgboost, random_forest, svm_regressor
import pandas as pd

In [2]:
df = pd.read_csv('MacBook_Air_Features.csv')

In [3]:
df.shape

(202, 19)

In [4]:
df.head()

,Review_Title,Review_Text,Review_Rating,Num_Photos,Sentiment,h,Len_before,Num_Sentence,No_QMark,No_ExMark,No_Upper,No_proper,Emoji_Count,Len_after,POS,Perc_Noun,Perc_Verb,Perc_Adverb,Perc_Adj
0,Must buy!,good product budget classic,5,2,pos,0.85,9,1,0,0,0,0,0,4,ADJ NOUN NOUN ADJ,50.00,0.00,0.00,50.00
1,Super!,wonderful product . helpless fan Apple product...,5,0,pos,0.93,35,3,0,0,0,0,0,18,ADJ NOUN PUNCT ADJ NOUN PROPN NOUN PUNCT VERB ...,44.44,11.11,0.00,11.11
2,Brilliant,editing review 1.5 yrs usage .... work nicely ...,5,4,neu,0.82,55,12,0,0,0,0,0,47,NOUN NOUN NUM PROPN NOUN PUNCT NOUN ADV PUNCT ...,36.17,12.77,2.13,10.64
3,Terrific,word,5,5,pos,0.80,3,1,0,0,0,0,3,1,NOUN,100.00,0.00,0.00,0.00
4,Just wow!,amazing product . give lot happiness happy . t...,5,4,pos,0.79,15,3,0,0,0,0,0,12,ADJ NOUN PUNCT VERB NOUN NOUN ADJ PUNCT ADV VE...,33.33,16.67,8.33,16.67

In [5]:
def rf_mape(df,l):
    df1 = sub_features(df,l)
    X, y = predictor(df1)
    train_mape, test_mape = random_forest(X,y)
    d = pd.DataFrame(data=[train_mape,test_mape],columns=['MAPE'],index=['Train','Test']).T
    return d

In [6]:
def xgb_mape(df,l):
    df1 = sub_features(df,l)
    X, y = predictor(df1)
    train_mape, test_mape = xgboost(X,y)
    d = pd.DataFrame(data=[train_mape,test_mape],columns=['MAPE'],index=['Train','Test']).T
    return d

In [7]:
def svr_mape(df,l):
    df1 = sub_features(df,l)
    X, y = predictor(df1)
    train_mape, test_mape = svm_regressor(X,y)
    d = pd.DataFrame(data=[train_mape,test_mape],columns=['MAPE'],index=['Train','Test']).T
    return d

### 1. ['Review_Text','Review_Rating','Len_after','h']

In [8]:
rf_mape(df,['Review_Text','Review_Rating','Len_after','h'])

         Train       Test
MAPE  5.371557  14.692849

In [9]:
xgb_mape(df,['Review_Text','Review_Rating','Len_after','h'])

         Train       Test
MAPE  0.086638  17.224971

In [10]:
svr_mape(df,['Review_Text','Review_Rating','Len_after','h'])

          Train      Test
MAPE  15.067906  16.59679

### 2. ['Review_Text','Review_Rating','Num_Sentence','h']

In [11]:
rf_mape(df,['Review_Text','Review_Rating','Num_Sentence','h'])

         Train       Test
MAPE  5.422661  14.606536

In [12]:
xgb_mape(df,['Review_Text','Review_Rating','Num_Sentence','h'])

         Train       Test
MAPE  0.260313  17.029311

In [13]:
svr_mape(df,['Review_Text','Review_Rating','Num_Sentence','h'])

          Train       Test
MAPE  13.053807  15.589998

### 3. ['Review_Text','Review_Rating','Len_before','h']

In [14]:
rf_mape(df,['Review_Text','Review_Rating','Len_before','h'])

         Train       Test
MAPE  5.323344  14.906745

In [15]:
xgb_mape(df,['Review_Text','Review_Rating','Len_before','h'])

         Train       Test
MAPE  0.074594  17.188327

In [16]:
svr_mape(df,['Review_Text','Review_Rating','Len_before','h'])

          Train      Test
MAPE  15.013113  16.94691

### 4. ['Review_Text','Review_Rating','Num_Photos','h']

In [17]:
rf_mape(df,['Review_Text','Review_Rating','Num_Photos','h'])

         Train       Test
MAPE  4.958757  14.888339

In [18]:
xgb_mape(df,['Review_Text','Review_Rating','Num_Photos','h'])

         Train       Test
MAPE  0.077115  15.562243

In [19]:
svr_mape(df,['Review_Text','Review_Rating','Num_Photos','h'])

          Train       Test
MAPE  10.590735  15.472396

### 5. ['Review_Text','Review_Rating','Num_Photos','Len_before','Len_after','h']

In [20]:
rf_mape(df,['Review_Text','Review_Rating','Num_Photos','Len_before','Len_after','h'])

         Train       Test
MAPE  4.933147  15.044066

In [21]:
xgb_mape(df,['Review_Text','Review_Rating','Num_Photos','Len_before','Len_after','h'])

         Train       Test
MAPE  0.077469  16.485522

In [22]:
svr_mape(df,['Review_Text','Review_Rating','Num_Photos','Len_before','Len_after','h'])

          Train       Test
MAPE  15.162547  16.802363

### 6. ['Review_Text','Perc_Noun','Perc_Verb','h']

In [23]:
rf_mape(df,['Review_Text','Perc_Noun','Perc_Verb','h'])

         Train       Test
MAPE  5.539184  15.803239

In [24]:
xgb_mape(df,['Review_Text','Perc_Noun','Perc_Verb','h'])

         Train       Test
MAPE  0.254106  18.894012

In [25]:
svr_mape(df,['Review_Text','Perc_Noun','Perc_Verb','h'])

          Train       Test
MAPE  14.427208  16.743294

### 7. ['Review_Text','Perc_Noun','Perc_Verb','Perc_Adverb','h']

In [26]:
rf_mape(df,['Review_Text','Perc_Noun','Perc_Verb','Perc_Adverb','h'])

         Train       Test
MAPE  5.584747  15.662138

In [27]:
xgb_mape(df,['Review_Text','Perc_Noun','Perc_Verb','Perc_Adverb','h'])

         Train       Test
MAPE  0.256156  18.153283

In [28]:
svr_mape(df,['Review_Text','Perc_Noun','Perc_Verb','Perc_Adverb','h'])

          Train       Test
MAPE  14.189963  16.686225

### 8. ['Review_Text','Perc_Noun','Perc_Verb','Perc_Adverb','Perc_Adj','h']

In [29]:
rf_mape(df,['Review_Text','Perc_Noun','Perc_Verb','Perc_Adverb','Perc_Adj','h'])

         Train       Test
MAPE  5.660502  15.602647

In [30]:
xgb_mape(df,['Review_Text','Perc_Noun','Perc_Verb','Perc_Adverb','Perc_Adj','h'])

         Train       Test
MAPE  0.249661  17.966425

In [31]:
svr_mape(df,['Review_Text','Perc_Noun','Perc_Verb','Perc_Adverb','Perc_Adj','h'])

          Train       Test
MAPE  14.057969  16.039052

### 9. ['Review_Text','No_QMark','h']

In [32]:
rf_mape(df,['Review_Text','No_QMark','h'])

         Train      Test
MAPE  5.657097  14.55773

In [33]:
xgb_mape(df,['Review_Text','No_QMark','h'])

         Train       Test
MAPE  0.494079  15.299693

In [34]:
svr_mape(df,['Review_Text','No_QMark','h'])

         Train       Test
MAPE  9.976702  15.441755

### 10. ['Review_Text','No_QMark','No_ExMark','h']

In [35]:
rf_mape(df,['Review_Text','No_QMark','No_ExMark','h'])

         Train       Test
MAPE  5.698638  14.922062

In [36]:
xgb_mape(df,['Review_Text','No_QMark','No_ExMark','h'])

        Train     Test
MAPE  0.49507  15.1943

In [37]:
svr_mape(df,['Review_Text','No_QMark','No_ExMark','h'])

         Train       Test
MAPE  9.757737  15.546932

### 11. ['Review_Text','No_QMark','No_ExMark','No_Upper','h']

In [38]:
rf_mape(df,['Review_Text','No_QMark','No_ExMark','No_Upper','h'])

         Train      Test
MAPE  5.718945  14.64707

In [39]:
xgb_mape(df,['Review_Text','No_QMark','No_ExMark','No_Upper','h'])

        Train     Test
MAPE  0.49507  15.1943

In [40]:
svr_mape(df,['Review_Text','No_QMark','No_ExMark','No_Upper','h'])

         Train       Test
MAPE  9.757731  15.546926

### 12. ['Review_Text','No_QMark','No_ExMark','No_Upper','No_proper','h']

In [41]:
rf_mape(df,['Review_Text','No_QMark','No_ExMark','No_Upper','No_proper','h'])

         Train       Test
MAPE  5.712438  14.795387

In [42]:
xgb_mape(df,['Review_Text','No_QMark','No_ExMark','No_Upper','No_proper','h'])

        Train     Test
MAPE  0.49507  15.1943

In [43]:
svr_mape(df,['Review_Text','No_QMark','No_ExMark','No_Upper','No_proper','h'])

         Train       Test
MAPE  9.779374  15.483262

### 13. ['Review_Text','Num_Photos','Num_Sentence','h']

In [44]:
rf_mape(df,['Review_Text','Num_Photos','Num_Sentence','h'])

         Train       Test
MAPE  5.168494  14.726406

In [45]:
xgb_mape(df,['Review_Text','Num_Photos','Num_Sentence','h'])

         Train       Test
MAPE  0.082194  15.409795

In [46]:
svr_mape(df,['Review_Text','Num_Photos','Num_Sentence','h'])

          Train       Test
MAPE  13.624706  16.195423

### 14. ['Review_Text','Num_Photos','Num_Sentence','Perc_Noun','h']

In [47]:
rf_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Noun','h'])

         Train       Test
MAPE  5.212465  16.017564

In [48]:
xgb_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Noun','h'])

         Train       Test
MAPE  0.080375  17.542682

In [49]:
svr_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Noun','h'])

          Train       Test
MAPE  14.152105  16.888574

### 15. ['Review_Text','Num_Photos','Num_Sentence','Perc_Verb','h']

In [50]:
rf_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Verb','h'])

         Train       Test
MAPE  5.167056  14.817817

In [51]:
xgb_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Verb','h'])

         Train       Test
MAPE  0.081919  15.163778

In [52]:
svr_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Verb','h'])

          Train       Test
MAPE  13.848681  16.074496

### 16. ['Review_Text','Num_Photos','Num_Sentence','Perc_Noun','Perc_Verb','h']

In [53]:
rf_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Noun','Perc_Verb','h'])

         Train       Test
MAPE  5.263246  15.786167

In [54]:
xgb_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Noun','Perc_Verb','h'])

         Train       Test
MAPE  0.080018  17.872394

In [55]:
svr_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Noun','Perc_Verb','h'])

          Train       Test
MAPE  14.055492  16.936464

### 17. ['Review_Text','Num_Photos','Num_Sentence','Perc_Adj','h']

In [56]:
rf_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Adj','h'])

         Train       Test
MAPE  5.215023  14.225185

In [57]:
xgb_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Adj','h'])

        Train       Test
MAPE  0.08466  15.447213

In [58]:
svr_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Adj','h'])

          Train       Test
MAPE  14.170295  15.728784

### 18. ['Review_Text','Num_Photos','Num_Sentence','Perc_Adj','Perc_Noun','h']

In [59]:
rf_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Adj','Perc_Noun','h'])

         Train       Test
MAPE  5.315286  15.901702

In [60]:
xgb_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Adj','Perc_Noun','h'])

         Train       Test
MAPE  0.075255  16.749964

In [61]:
svr_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Adj','Perc_Noun','h'])

          Train       Test
MAPE  13.970262  16.516746

### 19. ['Review_Text','Num_Photos','Num_Sentence','Perc_Adj','Perc_Noun','Perc_Verb','h']

In [62]:
rf_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Adj','Perc_Noun','Perc_Verb','h'])

         Train       Test
MAPE  5.386149  15.484884

In [63]:
xgb_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Adj','Perc_Noun','Perc_Verb','h'])

         Train       Test
MAPE  0.075364  17.405155

In [64]:
svr_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Adj','Perc_Noun','Perc_Verb','h'])

          Train      Test
MAPE  13.937242  16.35638

### 20. ['Review_Text','Review_Rating','Num_Photos','Num_Sentence','Perc_Adj','Perc_Noun','h']

In [65]:
rf_mape(df,['Review_Text','Review_Rating','Num_Photos','Num_Sentence','Perc_Adj','Perc_Noun','h'])

         Train       Test
MAPE  5.068106  15.788546

In [66]:
xgb_mape(df,['Review_Text','Review_Rating','Num_Photos','Num_Sentence','Perc_Adj','Perc_Noun','h'])

         Train       Test
MAPE  0.074115  16.216951

In [67]:
svr_mape(df,['Review_Text','Review_Rating','Num_Photos','Num_Sentence','Perc_Adj','Perc_Noun','h'])

          Train       Test
MAPE  13.504528  15.863151