In [1]:
import mape
from mape import predictor, sub_features, xgboost, random_forest, svm_regressor
import pandas as pd

In [2]:
df = pd.read_csv('Canon_EOS_3000d_Features.csv')

In [3]:
df.shape

(221, 19)

In [4]:
df.head()

,Review_Title,Review_Text,Review_Rating,Num_Photos,Sentiment,h,Len_before,Num_Sentence,No_QMark,No_ExMark,No_Upper,No_proper,Emoji_Count,Len_after,POS,Perc_Noun,Perc_Verb,Perc_Adverb,Perc_Adj
0,Worth every penny,awsome dslr camera,5,1,neu,0.94,3,1,0,0,0,0,0,3,PROPN PROPN PROPN,0.00,0.00,0.0,0.00
1,Worth every penny,value money,5,3,neu,0.93,3,1,0,0,0,0,0,2,NOUN NOUN,100.00,0.00,0.0,0.00
2,Terrific purchase,good product ..... easy use ...... fast delive...,5,1,neu,0.93,7,2,0,0,0,0,0,11,ADJ NOUN PUNCT ADJ NOUN PUNCT ADJ NOUN PUNCT N...,36.36,0.00,0.0,27.27
3,Best in the market!,awesome purchase,5,1,pos,0.92,3,1,0,0,0,0,2,2,PROPN NOUN,50.00,0.00,0.0,0.00
4,Wonderful,amazing beginner .. fantastic camera learn pho...,4,2,pos,0.92,11,2,0,0,0,0,0,7,ADJ PROPN PUNCT ADJ NOUN VERB NOUN,28.57,14.29,0.0,28.57

In [5]:
def rf_mape(df,l):
    df1 = sub_features(df,l)
    X, y = predictor(df1)
    train_mape, test_mape = random_forest(X,y)
    d = pd.DataFrame(data=[train_mape,test_mape],columns=['MAPE'],index=['Train','Test']).T
    return d

In [6]:
def xgb_mape(df,l):
    df1 = sub_features(df,l)
    X, y = predictor(df1)
    train_mape, test_mape = xgboost(X,y)
    d = pd.DataFrame(data=[train_mape,test_mape],columns=['MAPE'],index=['Train','Test']).T
    return d

In [7]:
def svr_mape(df,l):
    df1 = sub_features(df,l)
    X, y = predictor(df1)
    train_mape, test_mape = svm_regressor(X,y)
    d = pd.DataFrame(data=[train_mape,test_mape],columns=['MAPE'],index=['Train','Test']).T
    return d

### 1. ['Review_Text','Review_Rating','Len_after','h']

In [8]:
rf_mape(df,['Review_Text','Review_Rating','Len_after','h'])

         Train       Test
MAPE  5.039287  12.439026

In [9]:
xgb_mape(df,['Review_Text','Review_Rating','Len_after','h'])

         Train       Test
MAPE  1.640093  13.448484

In [10]:
svr_mape(df,['Review_Text','Review_Rating','Len_after','h'])

          Train       Test
MAPE  10.208401  11.882067

### 2. ['Review_Text','Review_Rating','Num_Sentence','h']

In [11]:
rf_mape(df,['Review_Text','Review_Rating','Num_Sentence','h'])

         Train      Test
MAPE  5.438101  12.68131

In [12]:
xgb_mape(df,['Review_Text','Review_Rating','Num_Sentence','h'])

         Train       Test
MAPE  2.124852  13.234557

In [13]:
svr_mape(df,['Review_Text','Review_Rating','Num_Sentence','h'])

        Train       Test
MAPE  9.55017  11.690773

### 3. ['Review_Text','Review_Rating','Len_before','h']

In [14]:
rf_mape(df,['Review_Text','Review_Rating','Len_before','h'])

        Train       Test
MAPE  4.95447  12.605589

In [15]:
xgb_mape(df,['Review_Text','Review_Rating','Len_before','h'])

         Train      Test
MAPE  1.480642  13.30297

In [16]:
svr_mape(df,['Review_Text','Review_Rating','Len_before','h'])

          Train       Test
MAPE  10.246079  12.429485

### 4. ['Review_Text','Review_Rating','Num_Photos','h']

In [17]:
rf_mape(df,['Review_Text','Review_Rating','Num_Photos','h'])

         Train      Test
MAPE  4.757117  12.51372

In [18]:
xgb_mape(df,['Review_Text','Review_Rating','Num_Photos','h'])

         Train      Test
MAPE  0.896018  12.31234

In [19]:
svr_mape(df,['Review_Text','Review_Rating','Num_Photos','h'])

         Train       Test
MAPE  9.425739  11.593289

### 5. ['Review_Text','Review_Rating','Num_Photos','Len_before','Len_after','h']

In [20]:
rf_mape(df,['Review_Text','Review_Rating','Num_Photos','Len_before','Len_after','h'])

         Train       Test
MAPE  4.480843  12.307781

In [21]:
xgb_mape(df,['Review_Text','Review_Rating','Num_Photos','Len_before','Len_after','h'])

         Train       Test
MAPE  0.685806  12.275772

In [22]:
svr_mape(df,['Review_Text','Review_Rating','Num_Photos','Len_before','Len_after','h'])

          Train       Test
MAPE  10.234546  12.279597

### 6. ['Review_Text','Perc_Noun','Perc_Verb','h']

In [23]:
rf_mape(df,['Review_Text','Perc_Noun','Perc_Verb','h'])

         Train       Test
MAPE  5.330666  12.644861

In [24]:
xgb_mape(df,['Review_Text','Perc_Noun','Perc_Verb','h'])

         Train       Test
MAPE  2.064301  12.606883

In [25]:
svr_mape(df,['Review_Text','Perc_Noun','Perc_Verb','h'])

          Train       Test
MAPE  10.672702  12.230219

### 7. ['Review_Text','Perc_Noun','Perc_Verb','Perc_Adverb','h']

In [26]:
rf_mape(df,['Review_Text','Perc_Noun','Perc_Verb','Perc_Adverb','h'])

         Train       Test
MAPE  5.314033  12.702435

In [27]:
xgb_mape(df,['Review_Text','Perc_Noun','Perc_Verb','Perc_Adverb','h'])

         Train       Test
MAPE  2.067434  12.375774

In [28]:
svr_mape(df,['Review_Text','Perc_Noun','Perc_Verb','Perc_Adverb','h'])

          Train      Test
MAPE  10.535899  12.08297

### 8. ['Review_Text','Perc_Noun','Perc_Verb','Perc_Adverb','Perc_Adj','h']

In [29]:
rf_mape(df,['Review_Text','Perc_Noun','Perc_Verb','Perc_Adverb','Perc_Adj','h'])

         Train       Test
MAPE  4.931597  13.214526

In [30]:
xgb_mape(df,['Review_Text','Perc_Noun','Perc_Verb','Perc_Adverb','Perc_Adj','h'])

         Train       Test
MAPE  1.585214  12.964006

In [31]:
svr_mape(df,['Review_Text','Perc_Noun','Perc_Verb','Perc_Adverb','Perc_Adj','h'])

          Train      Test
MAPE  10.637015  11.84976

### 9. ['Review_Text','No_QMark','h']

In [32]:
rf_mape(df,['Review_Text','No_QMark','h'])

        Train       Test
MAPE  5.65067  12.505089

In [33]:
xgb_mape(df,['Review_Text','No_QMark','h'])

         Train       Test
MAPE  2.555807  12.770192

In [34]:
svr_mape(df,['Review_Text','No_QMark','h'])

         Train       Test
MAPE  8.600466  11.656152

### 10. ['Review_Text','No_QMark','No_ExMark','h']

In [35]:
rf_mape(df,['Review_Text','No_QMark','No_ExMark','h'])

        Train       Test
MAPE  5.66909  12.338005

In [36]:
xgb_mape(df,['Review_Text','No_QMark','No_ExMark','h'])

         Train       Test
MAPE  2.555807  12.770192

In [37]:
svr_mape(df,['Review_Text','No_QMark','No_ExMark','h'])

       Train       Test
MAPE  8.6064  11.753663

### 11. ['Review_Text','No_QMark','No_ExMark','No_Upper','h']

In [38]:
rf_mape(df,['Review_Text','No_QMark','No_ExMark','No_Upper','h'])

         Train       Test
MAPE  5.620714  12.389977

In [39]:
xgb_mape(df,['Review_Text','No_QMark','No_ExMark','No_Upper','h'])

         Train       Test
MAPE  2.555807  12.770192

In [40]:
svr_mape(df,['Review_Text','No_QMark','No_ExMark','No_Upper','h'])

         Train       Test
MAPE  8.606527  11.774849

### 12. ['Review_Text','No_QMark','No_ExMark','No_Upper','No_proper','h']

In [41]:
rf_mape(df,['Review_Text','No_QMark','No_ExMark','No_Upper','No_proper','h'])

        Train       Test
MAPE  5.54628  12.517041

In [42]:
xgb_mape(df,['Review_Text','No_QMark','No_ExMark','No_Upper','No_proper','h'])

         Train       Test
MAPE  2.366311  12.858462

In [43]:
svr_mape(df,['Review_Text','No_QMark','No_ExMark','No_Upper','No_proper','h'])

        Train       Test
MAPE  8.56657  11.833833

### 13. ['Review_Text','Num_Photos','Num_Sentence','h']

In [44]:
rf_mape(df,['Review_Text','Num_Photos','Num_Sentence','h'])

        Train       Test
MAPE  4.71334  12.606601

In [45]:
xgb_mape(df,['Review_Text','Num_Photos','Num_Sentence','h'])

         Train      Test
MAPE  0.948044  12.80233

In [46]:
svr_mape(df,['Review_Text','Num_Photos','Num_Sentence','h'])

         Train      Test
MAPE  8.739544  12.39401

### 14. ['Review_Text','Num_Photos','Num_Sentence','Perc_Noun','h']

In [47]:
rf_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Noun','h'])

         Train       Test
MAPE  4.585817  12.648906

In [48]:
xgb_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Noun','h'])

         Train       Test
MAPE  0.747255  13.175204

In [49]:
svr_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Noun','h'])

          Train       Test
MAPE  10.870252  11.732971

### 15. ['Review_Text','Num_Photos','Num_Sentence','Perc_Verb','h']

In [50]:
rf_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Verb','h'])

         Train      Test
MAPE  4.573859  12.70244

In [51]:
xgb_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Verb','h'])

         Train       Test
MAPE  0.983639  12.445529

In [52]:
svr_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Verb','h'])

         Train       Test
MAPE  9.723689  12.812357

### 16. ['Review_Text','Num_Photos','Num_Sentence','Perc_Noun','Perc_Verb','h']

In [53]:
rf_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Noun','Perc_Verb','h'])

        Train       Test
MAPE  4.48451  12.864281

In [54]:
xgb_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Noun','Perc_Verb','h'])

         Train       Test
MAPE  0.745985  12.167401

In [55]:
svr_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Noun','Perc_Verb','h'])

         Train       Test
MAPE  10.57211  12.313887

### 17. ['Review_Text','Num_Photos','Num_Sentence','Perc_Adj','h']

In [56]:
rf_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Adj','h'])

         Train       Test
MAPE  4.591223  13.051925

In [57]:
xgb_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Adj','h'])

         Train      Test
MAPE  0.799006  13.43111

In [58]:
svr_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Adj','h'])

          Train       Test
MAPE  10.788998  12.077508

### 18. ['Review_Text','Num_Photos','Num_Sentence','Perc_Adj','Perc_Noun','h']

In [59]:
rf_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Adj','Perc_Noun','h'])

         Train       Test
MAPE  4.520694  12.948671

In [60]:
xgb_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Adj','Perc_Noun','h'])

         Train       Test
MAPE  0.729917  12.849364

In [61]:
svr_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Adj','Perc_Noun','h'])

          Train       Test
MAPE  10.905292  11.781873

### 19. ['Review_Text','Num_Photos','Num_Sentence','Perc_Adj','Perc_Noun','Perc_Verb','h']

In [62]:
rf_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Adj','Perc_Noun','Perc_Verb','h'])

         Train       Test
MAPE  4.400135  13.104786

In [63]:
xgb_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Adj','Perc_Noun','Perc_Verb','h'])

         Train       Test
MAPE  0.719157  12.812308

In [64]:
svr_mape(df,['Review_Text','Num_Photos','Num_Sentence','Perc_Adj','Perc_Noun','Perc_Verb','h'])

          Train       Test
MAPE  10.553123  12.217859

### 20. ['Review_Text','Review_Rating','Num_Photos','Num_Sentence','Perc_Adj','Perc_Noun','h']

In [65]:
rf_mape(df,['Review_Text','Review_Rating','Num_Photos','Num_Sentence','Perc_Adj','Perc_Noun','h'])

         Train       Test
MAPE  4.570137  12.884821

In [66]:
xgb_mape(df,['Review_Text','Review_Rating','Num_Photos','Num_Sentence','Perc_Adj','Perc_Noun','h'])

         Train       Test
MAPE  0.724814  12.999157

In [67]:
svr_mape(df,['Review_Text','Review_Rating','Num_Photos','Num_Sentence','Perc_Adj','Perc_Noun','h'])

          Train       Test
MAPE  10.794442  11.733419